.todo-item::marker {
  content: "";
}

.todo-item {
  height: 7vh;
  background-color: gray;
  margin-right: 35px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.add-button {
  margin-top: 2px;
}
